body {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: flex-start;
    padding-top: 20px;
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: left;
    padding-top: 20px;
}

.header {
    padding-bottom: 1px;
    margin-bottom: 20px;
    width: 100%;
}

.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    image-rendering: pixelated;
    float: left;
    margin-right: 20px;
}

h1 {
    font-size: 200%;
    margin: 0;
}

